@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.footer {
  color: white;
  background-color: #4c2c85;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  padding: 10px;
  text-align: center;
}
